<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src='index.js' type='text/javascript' defer></script>
    <title>GIOS</title>
</head>
<body>
    <div class='container'>
        <form id='form'>
            <div class="field">
                <input type="radio" id="switch" name="script">
                <label for="switch">Switch</label>
                <input type="radio" id="router" name="script">
                <label for="router">Router</label>
            </div>
            <div class="opc">

            </div>
            <div class="opc">

            </div>
        </form>
    </div>
</body>
</html>