<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src='switch.js' type='text/javascript' defer></script>
    <title>GIOS</title>
</head>
<body>
    <div class="container">
            <form id="formulario">
                <div class="desc-text">Coloque as VLAN´S que serão criadas separadas por virgula</div>
                <div class="field">
                    <input id="vlan" type="text" placeholder="VLAN´S"/>
                </div>

                <div class="desc-text">Coloque os nomes das VLAN´S separados por virgula</div>
                <div class="field">
                    <input id="nome" type="text" placeholder="Nomes" />
                </div>

                <div class="desc-text">Coloque as portas separadas por virgula e no começo qual o tipo de porta, Giga ou Fast</div>
                <div class="field">
                    <input id="porta" type="text" placeholder="Ex: G0/1,F0/2,G0/10"/>
                </div>

                <div class="desc-text">Se esse switch tiver porta trunk marque a caixa abaixo</div>
                <div class="field">
                    <input id="check" type="checkbox"/><label>Porta Trunk?</label>
                </div>
                
                <div id="trunk">
                    <div class="desc-text">Coloque qual será a porta trunk com qual será o tipo de porta, Giga ou Fast</div>
                    <input id="texttrunk" type="text" placeholder="Ex: G0/24 ">
                </div>
                
                <div class="field">
                    <input type="submit" id="butao" value="Switch">
                </div>
            </form>
    </div>
    <fieldset id="containerd">
        <div id='resp-text'></div>
    </fieldset>
</body>
</html>